In [ ]:
# create a data frame which contains only integer with 3 rows and 2 colums
# run following dataframe methods on them
'''df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()'''

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.rand(3,2),index=np.arange(3))

In [5]:
df

          0         1
0  0.832390  0.611000
1  0.379725  0.307459
2  0.415130  0.403820