In [ ]:
# create a data frame which contains only integer with 3 rows and 2 colums
# run following dataframe methods on them
'''df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()'''

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.rand(3,2),index=np.arange(3))

In [5]:
df

          0         1
0  0.832390  0.611000
1  0.379725  0.307459
2  0.415130  0.403820

In [7]:
df.describe()

              0         1
count  3.000000  3.000000
mean   0.542415  0.440760
std    0.251749  0.155106
min    0.379725  0.307459
25%    0.397428  0.355639
50%    0.415130  0.403820
75%    0.623760  0.507410
max    0.832390  0.611000

In [8]:
df.median()

0    0.41513
1    0.40382
dtype: float64

In [9]:
df.mean()

0    0.542415
1    0.440760
dtype: float64

In [10]:
df.corr()

          0         1
0  1.000000  0.970021
1  0.970021  1.000000

In [16]:
df.count()

0    3
1    3
dtype: int64

In [17]:
df.max()

0    0.83239
1    0.61100
dtype: float64

In [18]:
df.min()

0    0.379725
1    0.307459
dtype: float64

In [20]:
df.std()

0    0.251749
1    0.155106
dtype: float64